.App {
	.main {
		padding: 50px;
		width: calc(100% - 100px );
	}
	.row {
		&-1 {
			display: grid; 
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
			gap: 0px 50px;
			margin-bottom: 15vh;

			&__time {
				grid-column-start: 5;
			}
		}
		&-2 {
			margin-bottom: 24px;
		}
		&-3 {
			display: grid; 
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
			gap: 0px 50px;
			margin-bottom: 15vh;

			&__paragraph {
				grid-column-start: 3;
				white-space: nowrap;
				text-transform: uppercase;

				h2 {
					margin-bottom: 16px;
				}

				span {
					color: #F24822;
				}
			}
		}
		&-4 {
			display: grid; 
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
			gap: 0px 50px;
			margin-bottom: 24px;
		}
		&-5 {
			display: grid; 
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
			gap: 0px 50px;

			&__terminal {
				grid-column-start: 4;
				white-space: nowrap;
				text-transform: uppercase;

				div {
					margin-bottom: 16px;
				}

				div:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}