.Background {
    .Backdrop {
		position: fixed;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		&-grain {
			width: 100vw;
			height: 100vh;
			position: fixed;
			z-index: -1;
			opacity: 0.6;
			mix-blend-mode: overlay;
		}

		&-overlay {
			position: fixed;
			width: 100vw;
			height: 100vh;
			opacity: 0.4;
			z-index: -2;
			background-color: #D8D9D7;
		}

		&-blur {
			position: fixed;
			width: 100vw;
			height: 100vh;
			opacity: 1;
			z-index: -3;
		}

		&-circle {
			position: fixed;
			right: -5vw;
			bottom: -10vw;
			width: 90vh;
			height: 90vh;
			border-radius: 50%;
			background-color: #F24822;
			filter: blur(250px);
			z-index: -4;
		}
	}
}