.MuteLink{
    display: block;
    white-space: nowrap;
    margin-bottom: 20px;

    h2 {
        color: #B1B1B1;
        margin-top: 4px;
    }

    &-parent {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &-wrapper {
        display: inline-flex;
        align-items: center;
        border: #B1B1B1 3px solid;
        padding: 12px 20px;
    }

    &-bar {
        width: 130px;
        height: 3px;
        background-color: #B1B1B1;
        margin: auto 15px;
    }

    &-arrow {
        margin-left: 25px;
    }
}